<% content_for :title, @toy.name %>

<div class="mb-10 flex flex-col items-start space-y-3 md:space-y-0 md:flex-row md:justify-between md:items-center">
  <h1 class="font-bold text-4xl"><%= @toy.name %></h1>
  <% if Current.user&.admin? %>
    <%= link_to "Edit toy", edit_toy_path(@toy), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  <% end %>
</div>

<%= link_to @toy.url, class: "inline-flex space-x-3 items-center" do %>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
  </svg>
  <span>Visit</span>
<% end if @toy.url.present? %>

<div class="mt-10">
  <p><%= @toy.short_description %></p>
</div>
