<li>
  <div class="flex justify-between items-center mt-5 border-b border-b-gray-200 pb-3">
    <div class="<%= class_names({ "line-through": credential.revoked? }) %>">
      <p><strong>Client ID:</strong><br /><%= credential.client_id %></p>
      <% unless credential.revoked? %>
        <p><strong>Client secret:</strong><br /><%= credential.client_secret %></p>
      <% end %>
    </div>

    <% unless credential.revoked? %>
      <%= button_to "Revoke access", oauth_application_credential_path(credential), method: :delete, data: { turbo_confirm: "Are you sure? This action cannot be undone." }, class: "whitespace-nowrap rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <% end %>
  </div>
</li>
