<%= render "application", application: @application %>

<%= link_to "Edit this application", edit_application_path(@application), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<div class="inline-block ml-2">
  <%= button_to "Destroy this application", @application, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
</div>
